/**** Section: Modal overlay ****/

.modal {
    background: rgba(255, 255, 255, 0.86);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.modal_box {
    background: #ffffff;
    box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
    border-radius: 4px;
    width: 860px;
    height: 533px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.modal_exit {
    position: absolute;
    color: black;
    font-size: 50px;
    right: 15px;
    top: 0px;
}

.modal_exit:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.modal_img {
    margin: 25px;
}

.modal_info {
    padding: 0 50px 0 25px;
}

.modal_name {
    font-family: font-awesome;
    font-size: 28px;
    color: #373738;
    letter-spacing: 0;
    text-align: left;
}

.modal_price {
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #f8cb00;
    letter-spacing: 0;
    text-align: left;
}

.modal_description {
    font-family: font-awesome;
    font-size: 16px;
    color: #585858;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
}