/* Filter By Price */

.sideBar {
    margin: 20px 45px 0 120px;
}

.sideBar_label {
    text-transform: uppercase;
}

.sideBar__filterByPrice_inputs {
    width: 240px;
}

.sideBar__filterbyPrice_input {
    font-size: 12px;
    border: 0.5px solid grey;
    display: inline-block;
    width: 50px;
    height: 35px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.filterButton {
    border: 0 solid #f8cb00;
    width: 100px;
    height: 38px;
    display: inline-block;
    background-color: #f8cb00;
    border-radius: 5px;
    font-weight: lighter;
    color: #34282c;
    cursor: pointer;
}